<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>

  <span class="menu-spacer"></span>
  <div>
    <a mat-button [routerLink]="'/blog'" routerLinkActive="active"> Blog </a>
    <a mat-button [routerLink]="'/portfolio'" routerLinkActive="active"> Portfolio </a>
    <a mat-button [routerLink]="'/resume'" routerLinkActive="active"> Resume </a>
    <a mat-button [routerLink]="'/about'" routerLinkActive="active"> About </a>
    <a mat-button [routerLink]="'/contact'" routerLinkActive="active"> Contact </a>

  </div>
  <i class="material-icons">login</i>
  <span class="example-spacer"></span>
<!--   <button mat-icon-button color="accent" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
  </button> -->
<!--   <div *ngIf="authUser"> -->
    <a mat-button [routerLink]="'/login'" routerLinkActive="active"> Login </a>
<!-- </div>
<div *ngIf="authUser"> -->
  <a mat-button (click)="logout()"> Logout </a>
<!-- </div> -->
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
